
.dropdown-menu-caption {
    margin: 0px 10px 0px 10px;
}

.page-wrapper {
    margin-left: 0px;
}

.breadcrumb {
    padding: 0px;
    margin: 20px 0 0 0;
    background: transparent;
}

.red-remove {
    color: red;
    cursor: pointer;
}

.treatment {
    margin-bottom: 10px;
}

.empty-page-header {
    margin-top: 0px;
    border-bottom: 0px;
}

.col-18 {
    width: 18%;
}

.btn-create-set {
    width: auto;
    white-space: nowrap;
}


@media(max-width:767px){
    .dropdown-menu-caption {
        display: none;
    }
}

.hiddenExperiments.in {
    display: table-row;
}
.page-header {
    border-bottom: none;
}
.panel-heading {
    color: #fff!important;
    text-transform: uppercase;
    background-color: #34495E!important;
    border-color: #ddd;
    font-weight: bold!important;
}